.jumbo-wrap
	%h1.jumbo-head Welcome to TaxPass!
	%p.jumbo-text the only place where you can do stuff and get money and what not and whatever and it's great! the only place where you can do stuff and get money and what not and whatever and it's great!
	%a.jumbo-button{ href: home_welcome_path } Get started now