.jumbo-wrap
	%h1.jumbo-head Welcome to TaxPass!
	%p.jumbo-text The only place where you can manage all your financial communication using the best experts and fintech apps. 
	%a.jumbo-button{ href: home_welcome_path } Get started now