#dash-sidebar {
	float: left;
	width: 260px;
	border-right: 1px solid #ddd;
}

.dash-main-head,
.dash-sidebar-head {
	padding: 10px;
	font-size: 22px;
	font-size: 700;
	color: #222;

	em {
		font-size: 14px;
		color: #aaa;
	}
}

.cat-head {
	padding: 10px;
	border: 1px solid #eee;
	border-right: none;
	background-image: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
	box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	cursor: pointer;

	i {
		margin-right: 8px;
	}

	.amount {
		float: right;
	}

	.notifications {
		float: right;
		width: 18px;
		line-height: 18px;
		text-align: center;
		border-radius: 2px;
		box-shadow: 1px 1px rgba(0, 0, 0, .2);
		color: #fff;
		background-color: #d44;

		&:empty {
			display: none;
		}
	}

	em {
		font-size: 12px;
		color: #666;
	}
}

.cat-body {
	padding: 16px;
	line-height: 22px;
	color: #999;

	.cta {
		display: inline-block;
		color: #28e;
		cursor: pointer;

		&:hover {
			text-decoration: underline;	
		}
	}
}

#dash-main {
	padding: 0 280px;
}

.dash-feed {
	font-family: verdana, arial, helvetica, sans-serif;
}

.feed-item {
	margin-bottom: 20px;
	padding: 18px;
	width: 600px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	background-color: #f2f2f2;

}

.feed-item-pic {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	width: 60px;
	height: 60px;
	float: left;
}

.feed-item-name {
	margin-left: 80px;
	margin-bottom: 2px;
	font-size: 18px;
	font-weight: 700;

}

.feed-item-type {
	margin-left: 80px;
	font-size: 14px;
	color: #999;
}

.feed-item-rating {
	margin-top: 6px;
	margin-left: 80px;
	font-size: 12px;
	color: #f80;
}

.feed-item-text {
	margin-top: 6px;
	font-size: 14px;
	margin-left: 80px;
	line-height: 20px;
}

.feed-item-money {
	margin-top: 10px;
	margin-left: 80px;
	font-size: 14px;
}

.feed-item-money-learn-more {
	color: #28e;
}

.suppliers-head {
	margin-top: 20px;
}

.dash-app-pic {
	display: inline-block;
	background-repeat: no-repeat;
	// background-size: cover;
	background-position: 20px 46%;
	width: 160px;
	height: 160px;
	float: left;
	border: 1px solid #ddd;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.dash-main-section {
	display: none;
	min-width: 700px;

	&.active {
		display: block;
	}
}

.dash-app-title {
	// margin-left: 170px;
}

.dash-app-rating {
	color: #f80;
}

.dash-app-desc {
	margin-top: 10px;
	line-height: 20px;
	font-size: 16px;
	color: #999;
}

.message {
	border-bottom: 1px solid #ddd;
	font-weight: 700;
	cursor: pointer;

	&:last-child {
		border: none;
	}

	&.read {
		background-color: #f8f8f8;
		font-weight: 300;
	}
}
	
.messages-head {
	margin-top: 40px;
	padding-left: 0;
}

.dash-app-messages {
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

.message-subject,
.message-content,
.message-date {
	display: inline-block;
	padding: 8px 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.message-subject {
	width: 100px;
}

.message-content {
	width: 400px;
}

.message-date {
	width: 100px;
	color: #999;
}






